*,
::before,
::after {
	box-sizing: border-box;
}


a:hover,
a:link,
a:active,
a:visited {
    text-decoration: none;
    color: black;
}

/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Navbar
/* 3. Hero
/* 4. Sobre Nós
/* 5. Diferenciais
/* 6. Pacotes
/* 7. Newsletter
/* 8. Galeria
/* 9. Footer
/* 10. Modal
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--ff-primary: "Cairo", sans-serif;
	
	--clr-background: 	#F5F5F5;
	--clr-white: 		#F1FCDE;
	--clr-black: 		#090E01;
	--clr-light-green: 	#DEF8AF;
	--clr-medium-green: #88CC11;
	--clr-dark-green: 	#456809;
	
	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
}

/**********************************/
/* 1. Estilos Gerais
/**********************************/
html {
    font-size: 65.5%;
}

body {
    font-family: var(--ff-primary);
    background-color: var(--clr-background);
}


/**********************************/
/* 2. Navbar
/**********************************/ 

.nav {
	position: fixed;

	width: 100%;
	padding: 1.6rem;

	background-color: var(--clr-background);
	box-shadow: var(--dark-shadow);
}

.nav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav-header__toogle {
	border: transparent;
	background: transparent;
	color: var(--clr-medium-green);
	
	font-size: 3.2rem;

	transition: var(--transition);
	cursor: pointer;
}

.nav-header__toogle:hover {
	transform: scale(1.2);
}

.nav-list {
	height: 0;
	overflow: hidden;
	transition: var(--transition);
}

.nav-link {
	padding: 1.6rem;
	
	font-size: 1.6rem;
	font-weight: 900;

	color: var(--clr-black);

	text-transform: capitalize;

	transition: var(--transition);
}
/**********************************/
/* 3. Hero
/**********************************/



/**********************************/
/* 4. Sobre Nós
/**********************************/



/**********************************/
/* 5. Diferenciais
/**********************************/



/**********************************/
/* 6. Pacotes 
/**********************************/



/**********************************/
/* 7. Newsletter
/**********************************/



/**********************************/
/* 8. Galeria
/**********************************/



/**********************************/
/* 9. Footer
/**********************************/



/**********************************/
/* 10. Modal
/**********************************/